[Unit]
Description=Flask + Modbus TCP Server for Orange Pi
After=network.target

[Service]
#User=orangepi
#Group=orangepi
WorkingDirectory=/home/orangepi/PLC-Remote-Control-Web/services/opi4pro_gateway
ExecStart=/bin/bash /home/orangepi/PLC-Remote-Control-Web/services/opi4pro_gateway/run_all.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target