[Unit]
Description=Gateway Relay Service
After=network.target

[Service]
User=orangepi
Group=orangepi
UMask=0002
WorkingDirectory=/home/orangepi/PLC-Remote-Control-Web/services/opi4pro_gateway
ExecStart=/home/orangepi/PLC-Remote-Control-Web/services/opi4pro_gateway/venv/bin/python3 -u run_relay.py

Restart=always
RestartSec=2

# State Management
StateDirectory=opi4pro_gateway
StateDirectoryMode=0775
Environment=DB_PATH=/var/lib/opi4pro_gateway/gateway.db
Environment="PYTHONUNBUFFERED=1"

# Hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/opi4pro_gateway

[Install]
WantedBy=multi-user.target
