body {
  background-color: #f4f4f4; /* Optional: Bootstrap uses white by default */
}

#status-indicator {
  font-weight: bold;
  color: red; /* Optional: Bootstrap can color with classes like text-danger */
}

.temp-data h2 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.temp-data p {
  margin: 5px 0;
}

.video-container img {
  width: 80%; /* changed from 100% to 80% */
  max-width: 512px; /* optional: to shrink max size */
  height: auto;
  border-radius: 0.5rem;
}

.video-container {
  display: flex;
  justify-content: center;
}


.chart-container {
  width: 100%;
  min-height: 500px;
  max-height: 600px; /* Added for better control */
}

#trendChart {
  width: 100% !important;
  height: 500px !important;
  display: block;
}
